body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/background.jpg");
}

a {
  color: black;
}

a:hover, a:active {
  background-color: #7A991A;
}

nav {
  background-color: #98bf21;
  color: white;
  display: block;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
  padding: 4px;
  text-transform: uppercase;
}

h1 {
  background-color: #126D7A;
  color: white;
  text-align: center;
}

h2, h3 {
  background-color: #3B4B54;
  color: white;
}

h4 {
  text-decoration: underline;
}
span {
  float: right;
}