extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="POST" action="/api/vol/public/form" enctype="multipart/form-data")
    input(type="file" name="inputTypeFileNameField")
    input(type="text" name="fileNameIfNotNull")
    input(type="submit")
