extends layout
block content
    // Shows how to align single line of text part left and part right. Introduce a <span> element then add css to it
    h2
        | IBM Guided Experience
        span Made with IBM Bluemix
    h1= title
    h3
        |  Medicar is an app that demonstrates usage of Hybrid Data Storage
        |  capability using services in IBM Bluemix. The static vehicle information
        |  (manuals, parts information, diagnostic data) is stored in IBM cloud via the
        |  Object Storage V2 service. Confidential data is stored on premise and is
        |  accessible via the Secure Gateway service.  Additional information can also be
        |  on disk on the user's personal machine like a laptop. The user has access to all
        |  the information irrespective of which data storage medium its stored in.
    br
    br
    nav
        a(href='/') All Files
        |  |
        a(href='osv2.html') Object Storage
        |  |
        a(href='onprem.html') On Premise
        |  |
        a(href='vol.html') On Disk
        |  |
    p
    script(type='text/javascript').
        listFiles("/api/obj/public/");
    script(type='text/javascript').
        listFiles("/api/onprem/public/");
    script(type='text/javascript').
        listFiles("/api/vol/public/");
